html {
    margin: auto;
    padding: 0;
    background: rgb(25, 25, 29);
}
body {
    background: rgb(25, 25, 29);
    padding: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 100vh !important;
    width: 100vw !important;
}
.container {
    width: 420px;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
}